/* ensure all pages have Bootstrap CSS */
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
  padding-top: 100px;
}

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.logo img {
  width: 10rem;
  height: auto;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}

.nav-link:hover, .nav-link:focus {
  border-bottom-color: var(--bs-nav-link-hover-color);
}
.feature {
  background-color: rgba(247, 250, 252);
  padding: 40px;
}

.dropdown:hover .dropdown-menu{
  display: block;
  width: 75rem;
  left: -25rem;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.text-crr {
  color: rgba(60, 13, 153);
}

.cta {
  position: relative;
  overflow: hidden;
  background-color: rgba(233, 216, 253);
}

.cta svg {
  position: absolute;
  width: 24rem;
  height: 24rem;
  color: rgba(100, 21, 255);
  opacity: 0.05;
  left: -8rem;
  bottom: -12rem;
}

.footer {
  background-color: rgba(237, 242, 247);
}


.card .testimonials {
  position: absolute;
  max-width: 24rem;
  z-index: 13;
  background-color: rgba(60, 13, 153);
  color: rgba(203, 213, 224);
  margin-top: 15px;
  padding: 2rem;
  bottom: 1rem;
  left: -2rem;

}

.card .testimonials svg {
  position: absolute;
  top: -1.25rem;
  left: -1.5rem;
  width: 3rem;
  height: 3rem;
  color: rgba(245, 101, 101);
  opacity: 1;
}

.card .testimonials span {
  margin-top: 24px;
}

a {
  color: #4154f1;
  text-decoration: none;
}
.section-header h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--bs-primary);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  transition: 0.3s;
  border-radius: 5px;
}

.services .service-box .icon { 
  padding: 2em;
  border-radius: 4px;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}

.services .service-box h3 {
  color: #444444;
  font-weight: 700;
}

.services .service-box .read-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}

.services .service-box .read-more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}

.services .service-box.blue {
  border-bottom: 3px solid #2db6fa;
}

.services .service-box.blue .icon {
  color: #2db6fa;
  background: #dbf3fe;
}

.services .service-box.blue .read-more {
  color: #2db6fa;
}

.services .service-box.blue:hover {
  background: #2db6fa;
}

.services .service-box.orange {
  border-bottom: 3px solid #f68c09;
}

.services .service-box.orange .icon {
  color: #f68c09;
  background: #fde3c4;
}

.services .service-box.orange .read-more {
  color: #f68c09;
}

.services .service-box.orange:hover {
  background: #f68c09;
}

.services .service-box.green {
  border-bottom: 3px solid #08da4e;
}

.services .service-box.green .icon {
  color: #08da4e;
  background: #cffddf;
}

.services .service-box.green .read-more {
  color: #08da4e;
}

.services .service-box.green:hover {
  background: #08da4e;
}

.services .service-box.red {
  border-bottom: 3px solid #e9222c;
}

.services .service-box.red .icon {
  color: #e9222c;
  background: #fef7f8;
}

.services .service-box.red .read-more {
  color: #e9222c;
}

.services .service-box.red:hover {
  background: #e9222c;
}

.services .service-box.purple {
  border-bottom: 3px solid #b50edf;
}

.services .service-box.purple .icon {
  color: #b50edf;
  background: #f8e4fd;
}

.services .service-box.purple .read-more {
  color: #b50edf;
}

.services .service-box.purple:hover {
  background: #b50edf;
}

.services .service-box.pink {
  border-bottom: 3px solid #f51f9c;
}

.services .service-box.pink .icon {
  color: #f51f9c;
  background: #feecf7;
}

.services .service-box.pink .read-more {
  color: #f51f9c;
}

.services .service-box.pink:hover {
  background: #f51f9c;
}

.services .service-box:hover h3,
.services .service-box:hover p,
.services .service-box:hover .read-more {
  color: #fff;
}

.services .service-box:hover .icon {
  background: #fff;
}
